:root {
  --ifm-color-primary: #e5bc35; 
  --ifm-color-primary-dark: #daa90b; 
  --ifm-color-primary-darker: #d4ad00; 
  --ifm-color-primary-darkest: #da980b; 
  --ifm-color-primary-light: #eebe1f; 
  --ifm-color-primary-lighter: #fad457; 
  --ifm-color-primary-lightest: #f7df90;
  --ifm-code-font-size: 95%;
  --ifm-blockquote-border-left-width: 5px;
}

[data-theme='dark'] {
  --ifm-color-primary: #e5bc35; 
  --ifm-color-primary-dark: #daa90b; 
  --ifm-color-primary-darker: #d4ad00; 
  --ifm-color-primary-darkest: #da980b; 
  --ifm-color-primary-light: #eebe1f; 
  --ifm-color-primary-lighter: #fad457; 
  --ifm-color-primary-lightest: #f7df90;
}

.menu__link--active:not(.menu__link--sublist) {
  border-left-style: solid;
  border-left-width: 3px;
  padding-left: 0.6rem;
}

.table-of-contents__link--active {
  border-left-style: solid;
  border-left-width: 3px;
  padding-left: 0.5rem;
}

.table-of-contents__link {
  transition: all 0.1s;
}

.theme-last-updated {
  font-style: normal;
}

.footer {
  padding: 1.0rem 1.0rem;
}

.alert {
  border-radius: 0;
  background-color: #f5f7f9;
}

[data-theme='dark'] .alert {
  background-color: #252830;
}